/*-----------------------------LOGIN-----------------------------------------------------------*/

*{
    font-family:sans-serif ;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box; 
 }
 
 body{
    background-color: #3982d6;
}

img{
    width: 100px;
}


.login{
    font-family:sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}




.div1{
    background-color: #559cec;
    border-radius:5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    height: 370px;
    width: 550px;
    padding: 10px;
    
}

.matricula{
    margin-left: 50px; 
    padding: 10px;
    border: 0 ;
    border-radius: 5px;
    width: 400px;
}

.senha{
    margin-left: 50px; 
    padding: 10px;
    border: 0 ;
    border-radius: 5px;
    width: 400px;
}

.btnentrar{
    margin-left: 50px; 
    padding: 10px;
    border-radius: 5px;
    border: 0 ;
    cursor: pointer;
}

.btnentrar:hover{
    background-color: #0d53a3;
    color: white;
}

.esqueceusenha{
    margin-left: 200px;
    color: white;
    text-decoration: none;
}

h1{
    text-align: center;
    color: white;
}




/*---------------------------------------------------------------------------------------------------------------*/


/*-----------------------------MENU-----------------------------------------------------------------*/
.menu{
    list-style: none;
    padding: 0;
    background-color: #559cec;
}

.menu li{
    display: inline;
}

.menu li a{
    color: white;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
}

.menu li a:hover{
    background-color: #3982d6;
    color: rgb(255, 255, 255);
}


.informacoes {
    background-color: #559cec;
    border: 0px solid #ddd;
    border-radius: 5px;
    color: white;
    padding: 30px;
    width: 80%; 
    max-width: 400px; 
    margin: 0 auto; 
    margin-top: 200px; 
    text-align: left;
    font-family: sans-serif;
}

.informacoes  h2 {
    font-size: 20px;
    margin-top: 0;
}
/*------------------------------------------------------------------------------*/





/*---------------------FOLHA---------------------------------------------------------*/



.tabela {
    width: 80%; 
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: auto; 
    margin-right: auto;  
 }
 
 .tabela th, .tabela td {
    background-color: white;
    border: 1px solid #ccc;
    padding: 12px;
    text-align: center;
 }
 
 .tabela th {
    background-color: #0d53a3;
    color: white;
 }
 
 /*-----------------------esqueciSenha--------------------------*/
 .btnvoltar{
    padding: 10px;
    border-radius: 5px;
    border: 0 ;
    cursor: pointer;
    color: #001f3f;
    margin-top: 20px;
}

.btnvoltar:hover{
    background-color: #0d53a3;
    color: white;
}

.btnvoltar a{
    text-decoration: none;
   
}